<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content=""width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="static/style2.css">
    <title>Treasure Trove Games</title>
</head>
<body>

    <div class="topnav" id="nav">
        <a class="active" href="home">Home</a>
        <a href="quiz">Quiz</a>
        <a href="madlibs">MadLibs</a>
        <a href="wavele">Wordle</a>
        <a href="ptest">Personality Test</a>
      </div>
 
    <h1>&#128741 Welcome to Treasure Trove Games!! &#128741</h1>

    <a href="quiz"><button id="quiz-button">I wanna take a Quiz!</button></a>
    <br />
    <a href="madlibs"><button id="mablib-button">I wanna play Mad Libs!</button></a>
    <br />
    <a href="wavele"><button id="mablib-button">I wanna play Wavele!</button></a>
    <br />
    <a href="ptest"><button id="mablib-button">I wanna take a Personality Test!</button></a>
    
    <div class="footer">
        <h2>Hack NJIT 2023</h2>
        <h3>Salma Ghazi, Nafisa Ahmed, Cassandra Lanjwal, Joan Furst</h3>
    </div>
  
 </body>
</html>
