html, body{
    background-color: white; 
    background-image: url("https://static.skillshare.com/uploads/project/e51a5fa9d5c1eed464ca5782b60480e1/7f671c73.gif");
    background-size: cover;
	margin: 0;
    padding-bottom: 10;
    width:100%;
	height:100%;
	overflow:hidden;
	font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    overflow-y: auto;
}
.topnav {
    background-color: #005078;
    overflow: hidden;
    width:100%;
  }
  
  /* Style the links inside the navigation bar */
  .topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    z-index: 1;
  }
  
  /* Change the color of links on hover */
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  /* Add a color to the active/current link */
  .topnav a.active {
    background-color: #042936;
    color: white;
  }

#nav{
    margin: 0;
  }

#container{
	width: 100%;
	max-width: 600px;
	margin: auto;
	height: 100%;
	display: flex;
	flex-direction: column;
	border-width: 20px;
    border-style: groove;
    border-color: rgb(54, 118, 182);
    border-radius: 5%;
    background-color: rgb(87, 177, 207);
    margin-bottom: 10 px;
}

.logo{
	text-align: center;
	margin-top: 12px;
	cursor:pointer;
	text-shadow: 2px 3px 2px #000;
	transition:.5s
}

.logo:hover{
	filter: brightness(1.125);
}

.logo_green, .logo_gold{
	font-size: 26px;
	color: #fff;
	width: 49px;
	height: 35px;
	border-radius: 12px;
	margin: 3px;
	display: inline-block;
}

.logo_gold{
	background-color: #d7bf4a;
}

.logo_green{
	background-color: rgb(54, 118, 182);
}

.nav_bar{
	text-align: center;
	height: 33px;
	margin-top: 11px;
}

#giveUpBtn{
    border-width: 5px;
    border-color: rgb(54, 118, 182);
    border-radius: 5%;
	padding: 5px 10px;
	font-size: 17px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	cursor: pointer;
}

.game_area{
	margin-top:5px;
}

.row, .row_block{
	display: flex;
	justify-content: center;
	margin: 5px;
}

.row_block{
	font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	border: 3px solid;
	width: 56px;
	height: 51px;
	border-radius: 12px;
    background-color: #fff;
}

#notification{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	text-align: center;
	letter-spacing: 1px;
	font-size: 19px;
	margin-top: 5px;
	margin-bottom: 5px;
	height: 22px;
}

#keyboard{
	text-align:center;
	margin-top: 5px;
}

#topKeys, #midKeys, #botKeys{
	display: flex;
	justify-content:center;
}

.keyboardKey_s, .keyboardKey_m, .keyboardKey_l{
	background-color: #c5c5c5;
	font-size: 30px;
	height: 32px;
	padding: 5px 0;
	margin: 2.5px;
	display: flex;
	justify-content: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	cursor: pointer;
}

.keyboardKey_s{
	width: 52px;
}

.keyboardKey_m{
	width: 58px;
}

.keyboardKey_l{
	width: 81px;
}


.blockGreen{
	background-color: rgb(54, 118, 182);
	color:#fff;
}

.blockGrey{
	background-color: #737373;
	color:#fff;
}

.blockGold{
	background-color: #d7bf4a;
	color:#fff;
}
